<div class="wrapper">
  <div class="body">
    <form>
      <div>
        <h1>Register</h1>
      </div>
      <div>
        <input
          type="text"
          class="form-control"
          placeholder="Ingrese nombre de usuario"
          formControlName="username"
        />
        <label>Nombre de usuario</label>
      </div>
      <div>
        <input
          type="email"
          class="form-control"
          placeholder="Ingrese correo electrónico"
          formControlName="email"
        />
        <label>Correo electrónico</label>
      </div>
      <div>
        <input
          type="password"
          class="form-control"
          placeholder="Ingrese contraseña"
          formControlName="password"
        />
        <label>Contraseña</label>
      </div>

      <div>
        <button class="register-button" type="submit">Aceptar</button>
      </div>
    </form>
  </div>
</div>
