<div class="user-profile">
  <div class="profile-header">
    <img
      src="../../../assets/images/profile.png"
      alt="Profile Image"
      class="profile-image"
    />
    <h2 class="profile-name">Nombre de Usuario</h2>
    <p class="profile-email">correo@electronico.com</p>
    <p class="profile-time">Usuario desde hace X tiempo</p>
  </div>
  <div class="profile-actions">
    <button class="btn-logout">Cerrar sesión</button>
    <button class="btn-delete">Eliminar cuenta</button>
  </div>
</div>
