.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
form input {
  border: none;
  outline: none;
  color: black;
  width: 300px;
  border-radius: 5px;
  margin-bottom: 2rem;
}
form button {
  background: #ff4600;
  margin-left: 0.5rem;
  border: none;
  outline: none;
  border-radius: 8px;
  letter-spacing: 1px;
  cursor: pointer;
  color: #fff;
}
