<div class="wrapper">
  <div class="body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <h1>Login</h1>
      </div>
      <div>
        <label>email</label>
        <input
          type="text"
          class="form-control"
          placeholder="ingrese email"
          formControlName="email"
        />
      </div>
      <div>
        <label>password</label>
        <input
          type="password"
          class="form-control"
          placeholder="ingrese password"
          formControlName="password"
        />
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-primary btn-lg"
          [disabled]="loginForm.invalid"
        >
          Aceptar
        </button>
      </div>
      <p>Si no tenes cuenta <a routerLink="/register">Registrate!</a></p>
    </form>
  </div>
</div>
