<footer>
  <div class="logo">
    <app-logo></app-logo>
  </div>
  <div class="left">
    <div class="title">
      <p>Contactanos</p>
      <ul>
        <li>
          <a href="mailto:contacto@tudominio.com"
            ><i class="far fa-envelope"></i> correo@tudominio.com</a
          >
        </li>
        <li>
          <a href="https://wa.me/numero_telefono"
            ><i class="fab fa-whatsapp"></i> (123) 456-7890</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/tu_cuenta"
            ><i class="fab fa-instagram"></i> @tu_cuenta</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="center">
    <div class="title">
      <ul>
        <li><a href="#">Licencia</a></li>
        <li><a href="#">Terminos y Condiciones</a></li>
        <li><a href="#">Trabajemos Juntos</a></li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="title">
      <ul>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
    </div>
  </div>
</footer>
<div class="bottom">
  <p>&copy; 2023 Tu Empresa</p>
</div>
