<footer>
  <div class="left">
    <img src="logo.png" alt="Logo" />
  </div>
  <div class="center">
    <h4>Contactanos</h4>
    <ul>
      <li>
        <a href="mailto:contacto@tudominio.com"
          ><i class="far fa-envelope"></i> correo@tudominio.com</a
        >
      </li>
      <li>
        <a href="https://wa.me/numero_telefono"
          ><i class="fab fa-whatsapp"></i> (123) 456-7890</a
        >
      </li>
      <li>
        <a href="https://www.instagram.com/tu_cuenta"
          ><i class="fab fa-instagram"></i> @tu_cuenta</a
        >
      </li>
    </ul>
  </div>
  <div class="right">
    <h4>Licencia</h4>
    <ul>
      <li><a href="#">Términos y condiciones</a></li>
      <li><a href="#">Trabajemos juntos</a></li>
      <li><a href="#">Ayuda</a></li>
    </ul>
  </div>
</footer>
<div class="bottom">
  <p>&copy; 2023 Tu Empresa</p>
</div>
